language: python
cache: pip
dist: xenial
matrix:
  include:
    - os: linux
      python: "2.7"
      dist: trusty
      env: UAMQP_ENV=LINUX27
      script:
        - pytest
        - python ./setup.py check -r -s
        - pylint --extension-pkg-whitelist=uamqp.c_uamqp --ignore=async_ops,cbs_auth_async.py uamqp
    - os: linux
      python: "3.5"
      env: UAMQP_ENV=LINUX35
      script:
        - pytest
        - python ./setup.py check -r -s
        - pylint --extension-pkg-whitelist=uamqp.c_uamqp uamqp
    - os: linux
      python: "3.6"
      env: UAMQP_ENV=LINUX36
      script:
        - pytest
        - python ./setup.py check -r -s
        - pylint --extension-pkg-whitelist=uamqp.c_uamqp uamqp
    - os: linux
      python: "3.7"
      env: UAMQP_ENV=LINUX37
      script:
        - pytest
        - python ./setup.py check -r -s
        - pylint --extension-pkg-whitelist=uamqp.c_uamqp uamqp
    - os: linux
      python: "3.8"
      env: UAMQP_ENV=LINUX38
      script:
        - pytest
        - python ./setup.py check -r -s
        - pylint --extension-pkg-whitelist=uamqp.c_uamqp uamqp
    - os: linux
      python: "3.9"
      env: UAMQP_ENV=LINUX39
      script:
        - pytest
        - python ./setup.py check -r -s
        - pylint --extension-pkg-whitelist=uamqp.c_uamqp uamqp
sudo: required
services:
  - docker
install:
  - pip install -r dev_requirements.txt
  - python ./setup.py build_ext --inplace
  - pip install -e .
